@font-face {
  font-family: 'reneco';
  src:  url('fonts/reneco.eot?a7wmyz');
  src:  url('fonts/reneco.eot?a7wmyz#iefix') format('embedded-opentype'),
    url('fonts/reneco.woff2?a7wmyz') format('woff2'),
    url('fonts/reneco.ttf?a7wmyz') format('truetype'),
    url('fonts/reneco.woff?a7wmyz') format('woff'),
    url('fonts/reneco.svg?a7wmyz#reneco') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="reneco-"], [class*=" reneco-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'reneco' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reneco-device:before {
  content: "\e97f";
}
.reneco-logo-security-color:before {
  content: "\e97a";
  color: #ffeb3b;
}
.reneco-tile-security:before {
  content: "\e690";
}
.reneco-logo-security:before {
  content: "\e697";
}
.reneco-wifi-off:before {
  content: "\e96d";
}
.reneco-logo-qrtag-color:before {
  content: "\e96e";
  color: #00bcd4;
}
.reneco-logo-qrtag:before {
  content: "\ea0f";
}
.reneco-tile-qrtag:before {
  content: "\ea26";
}
.reneco-logo-parameter-color:before {
  content: "\e96f";
  color: #009688;
}
.reneco-future-date:before {
  content: "\e920";
}
.reneco-logo-parameter-historic:before {
  content: "\ea27";
}
.reneco-logo-parameter-mgt:before {
  content: "\ea28";
}
.reneco-tile-parameter:before {
  content: "\ea1f";
}
.reneco-logo-parameter:before {
  content: "\ea20";
}
.reneco-logo-formbuilder-color:before {
  content: "\e976";
  color: #ff9800;
}
.reneco-tile-formbuilder:before {
  content: "\e637";
}
.reneco-logo-formbuilder:before {
  content: "\e638";
}
.reneco-group:before {
  content: "\e639";
}
.reneco-mask:before {
  content: "\e645";
}
.reneco-tree_autocomplete:before {
  content: "\e646";
}
.reneco-tree:before {
  content: "\e647";
}
.reneco-autocomplete:before {
  content: "\e648";
}
.reneco-separator:before {
  content: "\e649";
}
.reneco-subform_grid:before {
  content: "\e927";
}
.reneco-decimal_input:before {
  content: "\e914";
}
.reneco-duplicate:before {
  content: "\e604";
}
.reneco-text:before {
  content: "\e63b";
}
.reneco-file_2:before {
  content: "\e643";
}
.reneco-numeric:before {
  content: "\e63c";
}
.reneco-long_text:before {
  content: "\e63d";
}
.reneco-cursor:before {
  content: "\e63e";
}
.reneco-image_file:before {
  content: "\e913";
}
.reneco-logo-centralmonitoring-color:before {
  content: "\e977";
  color: #3f51b5;
}
.reneco-graph:before {
  content: "\e673";
}
.reneco-grid:before {
  content: "\e96a";
}
.reneco-stats:before {
  content: "\ea23";
}
.reneco-sites:before {
  content: "\ea21";
}
.reneco-tags:before {
  content: "\ea1e";
}
.reneco-versions:before {
  content: "\ea12";
}
.reneco-replications:before {
  content: "\ea13";
}
.reneco-historic:before {
  content: "\ea0b";
}
.reneco-tile-centralmonitoring:before {
  content: "\e9f2";
}
.reneco-logo-centralmonitoring:before {
  content: "\e9f4";
}
.reneco-logo-thesaurus-color:before {
  content: "\e978";
  color: #03a9f4;
}
.reneco-top_concept:before {
  content: "\e921";
}
.reneco-middle_concept:before {
  content: "\e922";
}
.reneco-bottom_concept:before {
  content: "\e923";
}
.reneco-tile-thesaurus:before {
  content: "\e691";
}
.reneco-logo-thesaurus:before {
  content: "\e696";
}
.reneco-logo-trackmobile-color:before {
  content: "\e979";
  color: #f5d83a;
}
.reneco-logo-trackmobile:before {
  content: "\ea1c";
}
.reneco-sexing:before {
  content: "\e60d";
}
.reneco-male:before {
  content: "\e650";
}
.reneco-female:before {
  content: "\e66d";
}
.reneco-tile-track:before {
  content: "\e68f";
}
.reneco-logo-track:before {
  content: "\e695";
}
.reneco-donated-sold:before {
  content: "\e60e";
}
.reneco-ornamental:before {
  content: "\e610";
}
.reneco-hunting:before {
  content: "\e611";
}
.reneco-cynegetic:before {
  content: "\e612";
}
.reneco-confiscated:before {
  content: "\e613";
}
.reneco-centralised:before {
  content: "\e614";
}
.reneco-escaped-lost-disappeared:before {
  content: "\e615";
}
.reneco-released:before {
  content: "\e616";
}
.reneco-to_release:before {
  content: "\e617";
}
.reneco-excess:before {
  content: "\e618";
}
.reneco-breeder_captivity:before {
  content: "\e619";
}
.reneco-semi-natural-reproduction:before {
  content: "\e61a";
}
.reneco-removed-egg:before {
  content: "\e61b";
}
.reneco-egg:before {
  content: "\e61c";
}
.reneco-non-inseminated:before {
  content: "\e61d";
}
.reneco-broken-egg:before {
  content: "\e620";
}
.reneco-clear_early:before {
  content: "\e621";
}
.reneco-mid-egg:before {
  content: "\e622";
}
.reneco-late-egg:before {
  content: "\e623";
}
.reneco-adulte:before {
  content: "\e626";
}
.reneco-dead:before {
  content: "\e624";
}
.reneco-juvenile:before {
  content: "\e625";
}
.reneco-cull:before {
  content: "\e917";
}
.reneco-sentinelle:before {
  content: "\e908";
}
.reneco-not_sentinelle:before {
  content: "\e941";
}
.reneco-retirement:before {
  content: "\e919";
}
.reneco-exit-falco:before {
  content: "\e95d";
}
.reneco-status-falco:before {
  content: "\e95e";
}
.reneco-unknown:before {
  content: "\e629";
}
.reneco-on_site:before {
  content: "\e9d3";
}
.reneco-data_transfer:before {
  content: "\e9d2";
}
.reneco-external_destination:before {
  content: "\e9b7";
}
.reneco-incorrect_data:before {
  content: "\e9b8";
}
.reneco-not_incubable:before {
  content: "\e9b9";
}
.reneco-relaese:before {
  content: "\e949";
}
.reneco-HNV:before {
  content: "\ea0e";
}
.reneco-tile-trackng:before {
  content: "\e692";
}
.reneco-logo-trackng:before {
  content: "\e698";
}
.reneco-logo-repro-color:before {
  content: "\e97b";
  color: #df3a50;
}
.reneco-logo-repro-det-color:before {
  content: "\e97c";
  color: #df3a50;
}
.reneco-logo-repro-mgt-color:before {
  content: "\e97d";
  color: #df3a50;
}
.reneco-logo-repro-det:before {
  content: "\e9eb";
}
.reneco-logo-repro-mgt:before {
  content: "\e9ec";
}
.reneco-attribution-2:before {
  content: "\ea0d";
}
.reneco-onglet:before {
  content: "\ea0a";
}
.reneco-affichage_horizontal:before {
  content: "\ea04";
}
.reneco-affichage_horizontal-empty:before {
  content: "\ea05";
}
.reneco-affichage_T:before {
  content: "\ea06";
}
.reneco-affichage_T-empty:before {
  content: "\ea07";
}
.reneco-affichage_vertical:before {
  content: "\ea08";
}
.reneco-affichage_vertical-empty:before {
  content: "\ea09";
}
.reneco-attribution:before {
  content: "\e9fa";
}
.reneco-female-list:before {
  content: "\e9fb";
}
.reneco-male-list:before {
  content: "\e9fc";
}
.reneco-sperm-mixes:before {
  content: "\e9fd";
}
.reneco-update-planification:before {
  content: "\e9fe";
}
.reneco-tile-repro:before {
  content: "\e9f1";
}
.reneco-logo-repro:before {
  content: "\e9e8";
}
.reneco-sperm-collection:before {
  content: "\e9e9";
}
.reneco-coloration:before {
  content: "\e9ea";
}
.reneco-conservation:before {
  content: "\e9ed";
}
.reneco-sperm-bank-management:before {
  content: "\e9ee";
}
.reneco-data-entry:before {
  content: "\e9ef";
}
.reneco-management:before {
  content: "\e9f0";
}
.reneco-logo-ecoreleve-color:before {
  content: "\e97e";
  color: #4caf50;
}
.reneco-rewind:before {
  content: "\e664";
}
.reneco-back2:before {
  content: "\e916";
}
.reneco-pause:before {
  content: "\e92b";
}
.reneco-play:before {
  content: "\e665";
}
.reneco-forward:before {
  content: "\e666";
}
.reneco-rfid_format:before {
  content: "\e608";
}
.reneco-gsm_format:before {
  content: "\e609";
}
.reneco-gpx_format:before {
  content: "\e60a";
}
.reneco-pdf_format:before {
  content: "\e60b";
}
.reneco-csv_format:before {
  content: "\e60c";
}
.reneco-argos_format:before {
  content: "\e907";
}
.reneco-camera_format:before {
  content: "\e926";
}
.reneco-sheet2:before {
  content: "\e66b";
}
.reneco-sheet:before {
  content: "\e66a";
}
.reneco-tile-ecoreleve:before {
  content: "\e68e";
}
.reneco-logo-ecoreleve:before {
  content: "\e694";
}
.reneco-1:before {
  content: "\e9d5";
}
.reneco-2:before {
  content: "\e9d6";
}
.reneco-3:before {
  content: "\e9d7";
}
.reneco-4:before {
  content: "\e9d8";
}
.reneco-5:before {
  content: "\e9d9";
}
.reneco-backspace:before {
  content: "\e9da";
}
.reneco-delete:before {
  content: "\e9db";
}
.reneco-down:before {
  content: "\e9dc";
}
.reneco-end:before {
  content: "\e9dd";
}
.reneco-enter:before {
  content: "\e9de";
}
.reneco-escape:before {
  content: "\e9df";
}
.reneco-home:before {
  content: "\e9e0";
}
.reneco-insert:before {
  content: "\e9e1";
}
.reneco-less:before {
  content: "\e9e2";
}
.reneco-pagedown:before {
  content: "\e9e3";
}
.reneco-pageup:before {
  content: "\e9e4";
}
.reneco-plus:before {
  content: "\e9e5";
}
.reneco-tab:before {
  content: "\e9e6";
}
.reneco-up:before {
  content: "\e9e7";
}
.reneco-edit_station:before {
  content: "\e9d4";
}
.reneco-space:before {
  content: "\e9cf";
}
.reneco-right:before {
  content: "\e9d0";
}
.reneco-left:before {
  content: "\e9d1";
}
.reneco-location_by_location:before {
  content: "\e9cc";
}
.reneco-shortcuts:before {
  content: "\e9cd";
}
.reneco-add_protocol:before {
  content: "\e9ba";
}
.reneco-delete_station:before {
  content: "\e9bb";
}
.reneco-logo-ecollection-veto-color:before {
  content: "\e980";
  color: #b6008c;
}
.reneco-logo-ecollection-color:before {
  content: "\e981";
  color: #b600ae;
}
.reneco-logo-ecollection-bota-color:before {
  content: "\e982";
  color: #9c27b0;
}
.reneco-emitters:before {
  content: "\e667";
}
.reneco-bug_list:before {
  content: "\e683";
}
.reneco-sample_list2:before {
  content: "\e685";
}
.reneco-pending_samples:before {
  content: "\e605";
}
.reneco-samples_list:before {
  content: "\e606";
}
.reneco-report_list:before {
  content: "\e91d";
}
.reneco-position_list:before {
  content: "\e91e";
}
.reneco-sites_list:before {
  content: "\e671";
}
.reneco-stations_list:before {
  content: "\e670";
}
.reneco-individuals_list:before {
  content: "\e630";
}
.reneco-sensors_list:before {
  content: "\e62f";
}
.reneco-add-event:before {
  content: "\ea29";
}
.reneco-edition-cancel:before {
  content: "\ea25";
}
.reneco-sample_submittal:before {
  content: "\ea1d";
}
.reneco-container_transfer:before {
  content: "\ea16";
}
.reneco-donation:before {
  content: "\ea18";
}
.reneco-sample_creation:before {
  content: "\ea19";
}
.reneco-sample_transfer:before {
  content: "\ea1a";
}
.reneco-storage:before {
  content: "\ea1b";
}
.reneco-analysis:before {
  content: "\ea11";
}
.reneco-tile-ecollection:before {
  content: "\e68d";
}
.reneco-logo-ecollection:before {
  content: "\e607";
}
.reneco-logo-ecollection-veto:before {
  content: "\e60f";
}
.reneco-logo-ecollection-bota:before {
  content: "\e62b";
}
.reneco-change_position:before {
  content: "\e6a5";
}
.reneco-extraction:before {
  content: "\e6a4";
}
.reneco-send_identification:before {
  content: "\e6a6";
}
.reneco-return_identification:before {
  content: "\e6a7";
}
.reneco-pot:before {
  content: "\e6a0";
}
.reneco-send_labo:before {
  content: "\e6a1";
}
.reneco-return_labo:before {
  content: "\e6a2";
}
.reneco-centrifuge:before {
  content: "\e6a3";
}
.reneco-sample:before {
  content: "\e63a";
}
.reneco-individualsmall:before {
  content: "\e61f";
}
.reneco-individual_group:before {
  content: "\e902";
}
.reneco-ecouvillon:before {
  content: "\e69f";
}
.reneco-organe:before {
  content: "\e69a";
}
.reneco-bug:before {
  content: "\e684";
}
.reneco-argos:before {
  content: "\e901";
}
.reneco-marker:before {
  content: "\e64f";
}
.reneco-main_herbarium:before {
  content: "\e9ca";
}
.reneco-main_birds:before {
  content: "\e9c7";
}
.reneco-main_insects:before {
  content: "\e9cb";
}
.reneco-main_organs:before {
  content: "\e9c6";
}
.reneco-mounted_insect-2:before {
  content: "\e9c9";
}
.reneco-mounted_insect:before {
  content: "\e9c5";
}
.reneco-herbarium:before {
  content: "\e9c4";
}
.reneco-fta:before {
  content: "\e9c3";
}
.reneco-swab:before {
  content: "\e9c0";
}
.reneco-gynandromorph:before {
  content: "\e9bf";
}
.reneco-hermaphrodite:before {
  content: "\e9c2";
}
.reneco-slide:before {
  content: "\e9c1";
}
.reneco-pot1:before {
  content: "\e9be";
}
.reneco-organs:before {
  content: "\e9bd";
}
.reneco-logo-position-color:before {
  content: "\e983";
  color: #673ab7;
}
.reneco-tile-position:before {
  content: "\e903";
}
.reneco-logo-position:before {
  content: "\e904";
}
.reneco-cible:before {
  content: "\e9c8";
}
.reneco-voliere:before {
  content: "\e961";
}
.reneco-rangee:before {
  content: "\e973";
}
.reneco-Tray:before {
  content: "\e988";
}
.reneco-couvoir:before {
  content: "\e974";
}
.reneco-Cage:before {
  content: "\e975";
}
.reneco-POS:before {
  content: "\e989";
}
.reneco-autre:before {
  content: "\e928";
}
.reneco-Other:before {
  content: "\e98a";
}
.reneco-building:before {
  content: "\e929";
}
.reneco-Building:before {
  content: "\e98b";
}
.reneco-batterie:before {
  content: "\e92a";
}
.reneco-Battery:before {
  content: "\e98c";
}
.reneco-bloc:before {
  content: "\e93c";
}
.reneco-Bloc:before {
  content: "\e98d";
}
.reneco-Aviary:before {
  content: "\e98e";
}
.reneco-boite:before {
  content: "\e93d";
}
.reneco-Chick_Box:before {
  content: "\e98f";
}
.reneco-categorie:before {
  content: "\e93e";
}
.reneco-chambre:before {
  content: "\e93f";
}
.reneco-eclosoir:before {
  content: "\e940";
}
.reneco-elevage:before {
  content: "\e960";
}
.reneco-Breeding_Center:before {
  content: "\e990";
}
.reneco-emplacement:before {
  content: "\e942";
}
.reneco-incubateur:before {
  content: "\e943";
}
.reneco-incubateur-eclosoir:before {
  content: "\e944";
}
.reneco-ligne:before {
  content: "\e945";
}
.reneco-Line:before {
  content: "\e991";
}
.reneco-localisation-conceptuelle:before {
  content: "\e946";
}
.reneco-Conceptual_Localization:before {
  content: "\e992";
}
.reneco-machine-stockage:before {
  content: "\e947";
}
.reneco-pays:before {
  content: "\e948";
}
.reneco-Country:before {
  content: "\e993";
}
.reneco-pesonne:before {
  content: "\e951";
}
.reneco-Person:before {
  content: "\e994";
}
.reneco-piece:before {
  content: "\e952";
}
.reneco-Room:before {
  content: "\e995";
}
.reneco-plateau:before {
  content: "\e953";
}
.reneco-secteur:before {
  content: "\e954";
}
.reneco-Sector:before {
  content: "\e996";
}
.reneco-site:before {
  content: "\e955";
}
.reneco-Site:before {
  content: "\e997";
}
.reneco-cage-t:before {
  content: "\e950";
}
.reneco-T_Cage:before {
  content: "\e998";
}
.reneco-t02Cage:before {
  content: "\e956";
}
.reneco-t03Cage:before {
  content: "\e957";
}
.reneco-t09Cage:before {
  content: "\e962";
}
.reneco-t10Cage:before {
  content: "\e963";
}
.reneco-t16Cage:before {
  content: "\e964";
}
.reneco-t18Cage:before {
  content: "\e965";
}
.reneco-t20Cage:before {
  content: "\e966";
}
.reneco-t24Cage:before {
  content: "\e967";
}
.reneco-cage-t28:before {
  content: "\e972";
}
.reneco-POS-t30Cage:before {
  content: "\e968";
}
.reneco-t52Cage:before {
  content: "\e969";
}
.reneco-t54Cage:before {
  content: "\e970";
}
.reneco-t56Cage:before {
  content: "\e971";
}
.reneco-table:before {
  content: "\e958";
}
.reneco-Table:before {
  content: "\e999";
}
.reneco-tunnel:before {
  content: "\e959";
}
.reneco-Tunnel:before {
  content: "\e99a";
}
.reneco-zone:before {
  content: "\e95a";
}
.reneco-Area:before {
  content: "\e99b";
}
.reneco-zonegeographique:before {
  content: "\e95b";
}
.reneco-Geographical_Area:before {
  content: "\e99c";
}
.reneco-zoo-public:before {
  content: "\e95c";
}
.reneco-POS1:before {
  content: "\e99d";
}
.reneco-file-preview:before {
  content: "\e984";
}
.reneco-close-fill:before {
  content: "\e985";
}
.reneco-help-outline:before {
  content: "\e986";
}
.reneco-obs-outline:before {
  content: "\e987";
}
.reneco-logout:before {
  content: "\e9ff";
}
.reneco-error:before {
  content: "\e9f8";
}
.reneco-tag:before {
  content: "\e9bc";
}
.reneco-comment:before {
  content: "\ea15";
}
.reneco-help:before {
  content: "\ea0c";
}
.reneco-refresh:before {
  content: "\e96b";
}
.reneco-home1:before {
  content: "\e96c";
}
.reneco-filter:before {
  content: "\ea2b";
}
.reneco-duplicate1:before {
  content: "\ea2a";
}
.reneco-add-filled:before {
  content: "\e925";
}
.reneco-confirm:before {
  content: "\e94d";
}
.reneco-warning:before {
  content: "\e95f";
}
.reneco-flag:before {
  content: "\ea24";
}
.reneco-reversed-arrows:before {
  content: "\ea22";
}
.reneco-instances:before {
  content: "\ea10";
}
.reneco-all-sites:before {
  content: "\ea14";
}
.reneco-logo-ns:before {
  content: "\ea03";
}
.reneco-console-admin_icon:before {
  content: "\ea00";
}
.reneco-tile-consoleadmin:before {
  content: "\ea01";
}
.reneco-logo-reneco-apps:before {
  content: "\e9f5";
}
.reneco-tile-reneco-apps:before {
  content: "\e9f3";
}
.reneco-none:before {
  content: "\ea02";
}
.reneco-checkbox-empty:before {
  content: "\e9f6";
}
.reneco-checkbox-full:before {
  content: "\e9f7";
}
.reneco-checkbox-false .path1:before {
  content: "\e91b";
  color: rgb(233, 233, 233);
}
.reneco-checkbox-false .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.reneco-checkbox-null .path1:before {
  content: "\e94b";
  color: rgb(128, 128, 128);
}
.reneco-checkbox-null .path2:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.reneco-checkbox-true .path1:before {
  content: "\e94e";
  color: rgb(128, 128, 128);
}
.reneco-checkbox-true .path2:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(53, 166, 98);
}
.reneco-chevron_left:before {
  content: "\e668";
}
.reneco-chevron_right:before {
  content: "\e66f";
}
.reneco-chevron_top:before {
  content: "\e672";
}
.reneco-chevron_bottom:before {
  content: "\e682";
}
.reneco-leftarrow:before {
  content: "\e65b";
}
.reneco-rightarrow:before {
  content: "\e65c";
}
.reneco-add:before {
  content: "\e65d";
}
.reneco-checked:before {
  content: "\e62a";
}
.reneco-close:before {
  content: "\e65e";
}
.reneco-syncing:before {
  content: "\e65a";
}
.reneco-edit:before {
  content: "\e669";
}
.reneco-back:before {
  content: "\e69e";
}
.reneco-share:before {
  content: "\e91f";
}
.reneco-inter_app_link:before {
  content: "\e91a";
}
.reneco-list:before {
  content: "\e932";
}
.reneco-trash:before {
  content: "\e681";
}
.reneco-protocol:before {
  content: "\e602";
}
.reneco-drag:before {
  content: "\e603";
}
.reneco-fit:before {
  content: "\e67d";
}
.reneco-save:before {
  content: "\e64b";
}
.reneco-print:before {
  content: "\e924";
}
.reneco-calendar:before {
  content: "\e67a";
}
.reneco-pin:before {
  content: "\e66c";
}
.reneco-connect:before {
  content: "\e915";
}
.reneco-search:before {
  content: "\e61e";
}
.reneco-localtion:before {
  content: "\e663";
}
.reneco-support:before {
  content: "\e912";
}
.reneco-info:before {
  content: "\e69d";
}
.reneco-text_filter:before {
  content: "\e91c";
}
.reneco-settings:before {
  content: "\e657";
}
.reneco-tools:before {
  content: "\e90f";
}
.reneco-time:before {
  content: "\e655";
}
.reneco-timeblack:before {
  content: "\e662";
}
.reneco-timewhite:before {
  content: "\e661";
}
.reneco-users:before {
  content: "\e652";
}
.reneco-user:before {
  content: "\e651";
}
.reneco-site1:before {
  content: "\e918";
}
.reneco-file:before {
  content: "\e62c";
}
.reneco-file_21:before {
  content: "\e675";
}
.reneco-file_doc:before {
  content: "\e676";
}
.reneco-file_jpg:before {
  content: "\e6a9";
}
.reneco-file_pdf:before {
  content: "\e6aa";
}
.reneco-file_png:before {
  content: "\e6ab";
}
.reneco-file_xls:before {
  content: "\e6ac";
}
.reneco-folder:before {
  content: "\e62d";
}
.reneco-cloud:before {
  content: "\e62e";
}
.reneco-cloud-outlined:before {
  content: "\e64c";
}
.reneco-drag1:before {
  content: "\e679";
}
.reneco-observers:before {
  content: "\e69b";
}
.reneco-layers:before {
  content: "\e64d";
}
.reneco-textbubble:before {
  content: "\e6a8";
}
.reneco-comment1:before {
  content: "\e699";
}
.reneco-attachement:before {
  content: "\e660";
}
.reneco-observation:before {
  content: "\e677";
}
.reneco-hidden:before {
  content: "\e644";
}
.reneco-radio_off:before {
  content: "\e642";
}
.reneco-radio_on:before {
  content: "\e641";
}
.reneco-checkbox_off:before {
  content: "\e640";
}
.reneco-checkbox_on:before {
  content: "\e63f";
}
.reneco-select:before {
  content: "\e654";
}
.reneco-locked:before {
  content: "\e911";
}
.reneco-unlocked:before {
  content: "\e910";
}
.reneco-tree_addchild:before {
  content: "\e64a";
}
.reneco-map:before {
  content: "\e68c";
}
.reneco-distance:before {
  content: "\e653";
}
.reneco-selectarea:before {
  content: "\e678";
}
.reneco-export:before {
  content: "\e633";
}
.reneco-import:before {
  content: "\e634";
}
.reneco-sensor_import:before {
  content: "\e636";
}
.reneco-mydata:before {
  content: "\e635";
}
.reneco-export_filled:before {
  content: "\e600";
}
.reneco-importsensor:before {
  content: "\e68a";
}
.reneco-exportsensor:before {
  content: "\e68b";
}
.reneco-view:before {
  content: "\e601";
}
.reneco-report:before {
  content: "\e67c";
}
.reneco-entry:before {
  content: "\e631";
}
.reneco-entrykey:before {
  content: "\e632";
}
.reneco-id:before {
  content: "\e66e";
}
.reneco-satellite:before {
  content: "\e67b";
}
.reneco-rfid:before {
  content: "\e900";
}
.reneco-story:before {
  content: "\e933";
}
.reneco-task:before {
  content: "\e934";
}
.reneco-level0:before {
  content: "\e935";
}
.reneco-level1:before {
  content: "\e936";
}
.reneco-level2:before {
  content: "\e937";
}
.reneco-level3:before {
  content: "\e938";
}
.reneco-level4:before {
  content: "\e939";
}
.reneco-level5:before {
  content: "\e93a";
}
.reneco-level6:before {
  content: "\e93b";
}
.reneco-bustard:before {
  content: "\e627";
}
.reneco-bird:before {
  content: "\e656";
}
.reneco-adult:before {
  content: "\e680";
}
.reneco-child:before {
  content: "\e67f";
}
.reneco-bird2:before {
  content: "\e67e";
}
.reneco-falcon:before {
  content: "\e628";
}
.reneco-vulture:before {
  content: "\e909";
}
.reneco-ganga:before {
  content: "\e90a";
}
.reneco-cormoran:before {
  content: "\e92c";
}
.reneco-crocodile:before {
  content: "\e92d";
}
.reneco-pelican:before {
  content: "\e92e";
}
.reneco-rat:before {
  content: "\e92f";
}
.reneco-snake:before {
  content: "\e930";
}
.reneco-tortoise:before {
  content: "\e931";
}
.reneco-ring:before {
  content: "\e64e";
}
.reneco-worldbig:before {
  content: "\e693";
}
.reneco-worldsmall:before {
  content: "\e69c";
}
.reneco-taxonomies:before {
  content: "\e905";
}
.reneco-taxonomiessmall:before {
  content: "\e906";
}
.reneco-PTR:before {
  content: "\e90d";
}
.reneco-PTRsmall:before {
  content: "\e90e";
}
.reneco-post_it_printer:before {
  content: "\e90b";
}
.reneco-post_it_printer_small:before {
  content: "\e90c";
}
