.theme-central-monitoring{
    --ion-color-primary: #3F51B5;
    --ion-color-primary-shade: #283593;
    --ion-color-primary-tint: #C5CAE9;
    --ion-color-primary-contrast: #fff;
    --ion-color-background: rgba(63, 81, 181, 0.08);
    --ion-color-border: rgba(63, 81, 181, 0.5);
    /* --ag-material-primary-color: #3F51B5; */

    --mui-palette-primary-main: #3F51B5;
    --mui-palette-primary-dark: #283593;
    --mui-palette-primary-light: #C5CAE9;
    --mui-palette-primary-contrastText: #fff;
    --mui-palette-primary-mainChannel: 63 81 181;
    --mui-palette-primary-lightChannel: 199 202 233;
    --mui-palette-primary-darkChannel: 40 53 147;
    --mui-palette-primary-contrastTextChannel: 255 255 255;
    --mui-palette-background-paper: #fff;
}
.theme-central-monitoring-dark{
    --ion-color-primary: #9FA8DA;
    --ion-color-primary-shade: #5C6BC0;
    --ion-color-primary-tint: #E8EAF6;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(159, 168, 218, 0.08);
    --ion-color-border: rgba(159, 168, 218, 0.5);
    /* --ag-material-primary-color: #3F51B5; */

    --mui-palette-primary-main: #9FA8DA;
    --mui-palette-primary-dark: #5C6BC0;
    --mui-palette-primary-light: #E8EAF6;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 159 168 218;
    --mui-palette-primary-lightChannel: 232 234 246;
    --mui-palette-primary-darkChannel: 92 107 192;
    --mui-palette-primary-contrastTextChannel: 0 0 0;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

.theme-ecoll-bota{
    --ion-color-primary: #9C27B0;
    --ion-color-primary-shade: #691B9A;
    --ion-color-primary-tint: #E1BEE7;
    --ion-color-primary-contrast: #fff;
    --ion-color-background: rgba(156, 39, 176, 0.08);
    --ion-color-border: rgba(156, 39, 176, 0.5);
    /* --ag-material-primary-color: #9C27B0; */

    --mui-palette-primary-main: #9C27B0;
    --mui-palette-primary-dark: #691B9A;
    --mui-palette-primary-light: #E1BEE7;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 156 39 176;
    --mui-palette-primary-lightChannel: 225 190 131;
    --mui-palette-primary-darkChannel: 105 27 154;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #fff;
}
.theme-ecoll-bota-dark{
    --ion-color-primary: #CE93D8;
    --ion-color-primary-shade: #AB47BC;
    --ion-color-primary-tint: #F3E5F5;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(206, 147, 216, 0.08);
    --ion-color-border: rgba(206, 147, 216, 0.5);
    /* --ag-material-primary-color: #9C27B0; */

    --mui-palette-primary-main: #CE93D8;
    --mui-palette-primary-dark: #AB47BC;
    --mui-palette-primary-light: #F3E5F5;
    --mui-palette-primary-contrastText: #fff;
    --mui-palette-primary-mainChannel: 206 147 216;
    --mui-palette-primary-lightChannel: 171 71 188;
    --mui-palette-primary-darkChannel: 243 229 245;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

.theme-ecoll-entomo{
    --ion-color-primary: #B600AE;
    --ion-color-primary-shade: #84009A;
    --ion-color-primary-tint: #EABDE6;
    --ion-color-primary-contrast: #fff;
    --ion-color-background: rgba(135, 6, 101, 0.08);
    --ion-color-border: rgba(135, 6, 101, 0.5);
    /* --ag-material-primary-color: #B600AE; */

    --mui-palette-primary-main: #B600AE;
    --mui-palette-primary-dark: #84009A;
    --mui-palette-primary-light: #EABDE6;
    --mui-palette-primary-contrastText: #fff;
    --mui-palette-primary-mainChannel: 135 6 101;
    --mui-palette-primary-lightChannel: 234 189 220;
    --mui-palette-primary-darkChannel: 132 0 154;
    --mui-palette-primary-contrastTextChannel: 255 255 255;
    --mui-palette-background-paper: #fff;
}
.theme-ecoll-entomo-dark{
    --ion-color-primary: #DD91D6;
    --ion-color-primary-shade: #C33CB9;
    --ion-color-primary-tint: #F7E5F5;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(221, 145, 214, 0.08);
    --ion-color-border: rgba(221, 145, 214, 0.5);
    /* --ag-material-primary-color: #DD91D6; */

    --mui-palette-primary-main: #DD91D6;
    --mui-palette-primary-dark: #C33CB9;
    --mui-palette-primary-light: #F7E5F5;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 221 145 214;
    --mui-palette-primary-lightChannel: 247 229 245;
    --mui-palette-primary-darkChannel: 195 60 185;
    --mui-palette-primary-contrastTextChannel: 0 0 0;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

.theme-ecoll-veto{
    --ion-color-primary: #B6008C;
    --ion-color-primary-shade: #89007A;
    --ion-color-primary-tint: #ECBCDB;
    --ion-color-primary-contrast: #fff;
    --ion-color-background: rgba(182, 0, 140, 0.08);
    --ion-color-border: rgba(182, 0, 140, 0.5);
    /* --ag-material-primary-color: #B6008C; */

    --mui-palette-primary-main: #B6008C;
    --mui-palette-primary-dark: #89007A;
    --mui-palette-primary-light: #ECBCDB;
    --mui-palette-primary-contrastText: #fff;
    --mui-palette-primary-mainChannel: 182 0 140;
    --mui-palette-primary-lightChannel: 236 188 219;
    --mui-palette-primary-darkChannel: 137 0 122;
    --mui-palette-primary-contrastTextChannel: 255 255 255;
    --mui-palette-background-paper: #fff;
}
.theme-ecoll-veto-dark{
    --ion-color-primary: #DF8FC3;
    --ion-color-primary-shade: #C3399B;
    --ion-color-primary-tint: #F7E4F0;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(223, 143, 195, 0.08);
    --ion-color-border: rgba(223, 143, 195, 0.5);
    /* --ag-material-primary-color: #DF8FC3; */

    --mui-palette-primary-main: #DF8FC3;
    --mui-palette-primary-dark: #C3399B;
    --mui-palette-primary-light: #F7E4F0;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 223 143 195;
    --mui-palette-primary-lightChannel: 247 228 240;
    --mui-palette-primary-darkChannel: 195 57 155;
    --mui-palette-primary-contrastTextChannel: 0 0 0;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

.theme-ecoreleve{
    --ion-color-primary: #4CAF50;
    --ion-color-primary-shade: #2E7D31;
    --ion-color-primary-tint: #C8E6C9;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(76, 175, 80, 0.08);
    --ion-color-border: rgba(76, 175, 80, 0.5);
    /* --ag-material-primary-color: #4CAF50; */

    --mui-palette-primary-main: #4CAF50;
    --mui-palette-primary-dark: #2E7D31;
    --mui-palette-primary-light: #C8E6C9;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 76 175 80;
    --mui-palette-primary-lightChannel: 200 230 201;
    --mui-palette-primary-darkChannel: 46 125 49;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #fff;
}
.theme-ecoreleve-dark{
    --ion-color-primary: #A5D6A7;
    --ion-color-primary-shade: #66BB69;
    --ion-color-primary-tint: #E8F5E9;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(165, 214, 167, 0.08);
    --ion-color-border: rgba(165, 214, 167, 0.5);
    /* --ag-material-primary-color: #A5D6A7; */

    --mui-palette-primary-main: #A5D6A7;
    --mui-palette-primary-dark: #66BB69;
    --mui-palette-primary-light: #E8F5E9;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 165 214 197;
    --mui-palette-primary-lightChannel: 232 245 233;
    --mui-palette-primary-darkChannel: 102 187 105;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

.theme-formbuilder{
    --ion-color-primary: #FF9800;
    --ion-color-primary-shade: #EF6D00;
    --ion-color-primary-tint: #FFE0B2;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(255, 152, 0, 0.08);
    --ion-color-border: rgba(255, 152, 0, 0.5);
    /* --ag-material-primary-color: #FF9800; */

    --mui-palette-primary-main: #FF9800;
    --mui-palette-primary-dark: #EF6D00;
    --mui-palette-primary-light: #FFE0B2;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 225 152 0;
    --mui-palette-primary-lightChannel: 255 224 178;
    --mui-palette-primary-darkChannel: 139 109 0;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #fff;
}
.theme-formbuilder-dark{
    --ion-color-primary: #FFCD80;
    --ion-color-primary-shade: #FFA826;
    --ion-color-primary-tint: #FFF3E0;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(255, 205, 128, 0.08);
    --ion-color-border: rgba(255, 205, 128, 0.5);
    /* --ag-material-primary-color: #FFCD80; */

    --mui-palette-primary-main: #FFCD80;
    --mui-palette-primary-dark: #FFA826;
    --mui-palette-primary-light: #FFF3E0;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 225 205 128;
    --mui-palette-primary-lightChannel: 255 243 224;
    --mui-palette-primary-darkChannel: 255 168 38;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

.theme-parameters{
    --ion-color-primary: #009688;
    --ion-color-primary-shade: #00695B;
    --ion-color-primary-tint: #B2DFDB;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(0, 150, 136, 0.08);
    --ion-color-border: rgba(0, 150, 136, 0.5);
    /* --ag-material-primary-color: #009688; */

    --mui-palette-primary-main: #009688;
    --mui-palette-primary-dark: #00695B;
    --mui-palette-primary-light: #B2DFDB;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 0 150 136;
    --mui-palette-primary-lightChannel: 178 223 219;
    --mui-palette-primary-darkChannel: 0 105 91;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #fff;
}
.theme-parameters-dark{
    --ion-color-primary: #80CBC3;
    --ion-color-primary-shade: #26A699;
    --ion-color-primary-tint: #E0F2F1;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(128, 203, 195, 0.08);
    --ion-color-border: rgba(128, 203, 195, 0.5);
    /* --ag-material-primary-color: #80CBC3; */

    --mui-palette-primary-main: #80CBC3;
    --mui-palette-primary-dark: #26A699;
    --mui-palette-primary-light: #E0F2F1;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 128 203 195;
    --mui-palette-primary-lightChannel: 224 242 241;
    --mui-palette-primary-darkChannel: 38 166 153;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

.theme-portal{
    --ion-color-primary: #636363;
    --ion-color-primary-shade: #333333;
    --ion-color-primary-tint: #9b9b9b;
    --ion-color-primary-contrast: #fff;
    --ion-color-background: rgba(99, 99, 99, 0.08);
    --ion-color-border: rgba(99, 99, 99, 0.5);
    /* --ag-material-primary-color: #636363; */

    --mui-palette-primary-main: #636363;
    --mui-palette-primary-dark: #333333;
    --mui-palette-primary-light: #9b9b9b;
    --mui-palette-primary-contrastText: #fff;
    --mui-palette-primary-mainChannel: 99 99 99;
    --mui-palette-primary-lightChannel: 155 155 155;
    --mui-palette-primary-darkChannel: 51 51 51;
    --mui-palette-primary-contrastTextChannel: 225 225 225;
    --mui-palette-background-paper: #fff;
}

.theme-position{
    --ion-color-primary: #673AB7;
    --ion-color-primary-shade: #4627A0;
    --ion-color-primary-tint: #D1C4E9;
    --ion-color-primary-contrast: #fff;
    --ion-color-background: rgba(123, 37, 221, 0.08);
    --ion-color-border: rgba(123, 37, 221, 0.5);
    /* --ag-material-primary-color: #673AB7; */

    --mui-palette-primary-main: #673AB7;
    --mui-palette-primary-dark: #4627A0;
    --mui-palette-primary-light: #D1C4E9;
    --mui-palette-primary-contrastText: #fff;
    --mui-palette-primary-mainChannel: 123 37 221;
    --mui-palette-primary-lightChannel: 209 196 233;
    --mui-palette-primary-darkChannel: 70 39 160;
    --mui-palette-primary-contrastTextChannel: 225 225 225;
    --mui-palette-background-paper: #fff;
}
.theme-position-dark{
    --ion-color-primary: #B39DDB;
    --ion-color-primary-shade: #7F57C2;
    --ion-color-primary-tint: #EDE7F6;
    --ion-color-primary-contrast: #fff;
    --ion-color-background: rgba(123, 37, 221, 0.08);
    --ion-color-border: rgba(123, 37, 221, 0.5);
    /* --ag-material-primary-color: #B39DDB; */

    --mui-palette-primary-main: #B39DDB;
    --mui-palette-primary-dark: #7F57C2;
    --mui-palette-primary-light: #EDE7F6;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 123 37 221;
    --mui-palette-primary-lightChannel: 237 231 246;
    --mui-palette-primary-darkChannel: 127 87 194;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

.theme-qr-tag{
    --ion-color-primary: #00BCD4;
    --ion-color-primary-shade: #00828F;
    --ion-color-primary-tint: #B2EBF2;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(0, 188, 212, 0.08);
    --ion-color-border: rgba(0, 188, 212, 0.5);
    /* --ag-material-primary-color: #00BCD4; */

    --mui-palette-primary-main: #00BCD4;
    --mui-palette-primary-dark: #00828F;
    --mui-palette-primary-light: #B2EBF2;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 0 188 212;
    --mui-palette-primary-lightChannel: 178 235 242;
    --mui-palette-primary-darkChannel: 0 130 143;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #fff;
}
.theme-qr-tag-dark{
    --ion-color-primary: #80DEEA;
    --ion-color-primary-shade: #26C5DA;
    --ion-color-primary-tint: #E0F7FA;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(128, 222, 234, 0.08);
    --ion-color-border: rgba(128, 222, 234, 0.5);
    /* --ag-material-primary-color: #80DEEA; */

    --mui-palette-primary-main: #80DEEA;
    --mui-palette-primary-dark: #26C5DA;
    --mui-palette-primary-light: #E0F7FA;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 128 222 234;
    --mui-palette-primary-lightChannel: 224 247 250;
    --mui-palette-primary-darkChannel: 38 197 218;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

.theme-repro{
    --ion-color-primary: #DF3A50;
    --ion-color-primary-shade: #A62948;
    --ion-color-primary-tint: #F8BCC8;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(223, 58, 80, 0.5);
    --ion-color-border: rgba(223, 58, 80, 0.08);
    /* --ag-material-primary-color: #DF3A50; */

    --mui-palette-primary-main: #df3a50;
    --mui-palette-primary-dark: #a62948;
    --mui-palette-primary-light: #f8bcc8;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 223 58 80;
    --mui-palette-primary-lightChannel: 249 168 37;
    --mui-palette-primary-darkChannel: 166 41 72;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #fff;
}
.theme-repro-dark{
    --ion-color-primary: #F392A4;
    --ion-color-primary-shade: #E54D67;
    --ion-color-primary-tint: #FCE4E9;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(243, 146, 164, 0.5);
    --ion-color-border: rgba(243, 146, 164, 0.08);
    /* --ag-material-primary-color: #F392A4; */

    --mui-palette-primary-main: #F392A4;
    --mui-palette-primary-dark: #E54D67;
    --mui-palette-primary-light: #FCE4E9;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 223 58 80;
    --mui-palette-primary-lightChannel: 252 228 233;
    --mui-palette-primary-darkChannel: 229 77 103;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

.theme-securite{
    --ion-color-primary: #FFEB3B;
    --ion-color-primary-shade: #F9A825;
    --ion-color-primary-tint: #FFF9C4;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(255, 235, 59, 0.08);
    --ion-color-border: rgba(255, 235, 59, 0.5);
    /* --ag-material-primary-color: #FFEB3B; */

    --mui-palette-primary-main: #ffeb3b;
    --mui-palette-primary-dark: #f9a825;
    --mui-palette-primary-light: #fff9c4;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 255 235 59;
    --mui-palette-primary-lightChannel: 249 168 37;
    --mui-palette-primary-darkChannel: 255 249 196;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #fff;
}
.theme-securite-dark{
    --ion-color-primary: #FFF59D;
    --ion-color-primary-shade: #FCEB55;
    --ion-color-primary-tint: #FFFDE7;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(255, 245, 157, 0.08);
    --ion-color-border: rgba(255, 245, 157, 0.5);
    /* --ag-material-primary-color: #FFF59D; */

    --mui-palette-primary-main: #FFF59D;
    --mui-palette-primary-dark: #FCEB55;
    --mui-palette-primary-light: #FFFDE7;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 255 245 157;
    --mui-palette-primary-lightChannel: 255 253 231;
    --mui-palette-primary-darkChannel: 252 235 85;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

.theme-thesaurus{
    --ion-color-primary: #03A9F4;
    --ion-color-primary-shade: #0476BD;
    --ion-color-primary-tint: #B3E5FC;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(3, 169, 244, 0.08);
    --ion-color-border: rgba(3, 169, 244, 0.5);
    /* --ag-material-primary-color: #03A9F4; */

    --mui-palette-primary-main: #03A9F4;
    --mui-palette-primary-dark: #0476BD;
    --mui-palette-primary-light: #B3E5FC;
    --mui-palette-primary-contrastText: #fff;
    --mui-palette-primary-mainChannel: 3 169 244;
    --mui-palette-primary-lightChannel: 179 229 252;
    --mui-palette-primary-darkChannel: 4 118 189;
    --mui-palette-primary-contrastTextChannel: 255 255 255;
    --mui-palette-background-paper: #fff;
}
.theme-thesaurus-dark{
    --ion-color-primary: #81D3FA;
    --ion-color-primary-shade: #28B5F6;
    --ion-color-primary-tint: #E1F5FE;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(129, 211, 250, 0.08);
    --ion-color-border: rgba(129, 211, 250, 0.5);
    /* --ag-material-primary-color: #81D3FA; */

    --mui-palette-primary-main: #81D3FA;
    --mui-palette-primary-dark: #28B5F6;
    --mui-palette-primary-light: #E1F5FE;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 129 211 250;
    --mui-palette-primary-lightChannel: 225 245 254;
    --mui-palette-primary-darkChannel: 40 181 246;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

.theme-track{
    --ion-color-primary: #795548;
    --ion-color-primary-shade: #4E342E;
    --ion-color-primary-tint: #D7CCC8;
    --ion-color-primary-contrast: #fff;
    --ion-color-background: rgba(121, 85, 72, 0.08);
    --ion-color-border: rgba(121, 85, 72, 0.5);
    /* --ag-material-primary-color: #795548; */

    --mui-palette-primary-main: #795548;
    --mui-palette-primary-dark: #4E342E;
    --mui-palette-primary-light: #D7CCC8;
    --mui-palette-primary-contrastText: #fff;
    --mui-palette-primary-mainChannel: 121 85 72;
    --mui-palette-primary-lightChannel: 215 204 200;
    --mui-palette-primary-darkChannel: 78 52 46;
    --mui-palette-primary-contrastTextChannel: 255 255 255;
    --mui-palette-background-paper: #fff;
}
.theme-track-dark{
    --ion-color-primary: #BCAAA4;
    --ion-color-primary-shade: #8D6E63;
    --ion-color-primary-tint: #EFEBE9;
    --ion-color-primary-contrast: #111;
    --ion-color-background: rgba(188, 170, 164, 0.08);
    --ion-color-border: rgba(188, 170, 164, 0.5);
    /* --ag-material-primary-color: #BCAAA4; */

    --mui-palette-primary-main: #BCAAA4;
    --mui-palette-primary-dark: #8D6E63;
    --mui-palette-primary-light: #EFEBE9;
    --mui-palette-primary-contrastText: #111;
    --mui-palette-primary-mainChannel: 188 170 164;
    --mui-palette-primary-lightChannel: 239 235 233;
    --mui-palette-primary-darkChannel: 141 110 99;
    --mui-palette-primary-contrastTextChannel: 17 17 17;
    --mui-palette-background-paper: #212121;
    --mui-palette-AppBar-darkBg: var(--mui-palette-primary-main);
    --mui-palette-AppBar-darkColor: var(--mui-palette-primary-contrastText);
}

:root{
    /** success **/
    --ion-color-success: #4CAF50;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #3B873E;
    --ion-color-success-tint: #7BC67E;
    --ion-color-success-background: #EDF7ED;
    --mui-palette-success-main: #4CAF50;
    --mui-palette-success-dark: #3B873E;
    --mui-palette-success-light: #7BC67E;
    /** warning **/
    --ion-color-warning: #FF9800;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #111111;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #C77700;
    --ion-color-warning-tint: #FFB547;
    --ion-color-warning-background: #FFF4E5;
    --mui-palette-warning-main: #FF9800;
    --mui-palette-warning-dark: #C77700;
    --mui-palette-warning-light: #FFB547;
    /** danger **/
    --ion-color-danger: #F44336;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #E31B0C;
    --ion-color-danger-tint: #F88078;
    --ion-color-danger-background: #FEECEB;
    --mui-palette-error-main: #F44336;
    --mui-palette-error-dark: #E31B0C;
    --mui-palette-error-light: #F88078;
    /** info **/
    --ion-color-info: #2196F3;
    --ion-color-info-rgb: 245, 61, 61;
    --ion-color-info-contrast: #ffffff;
    --ion-color-info-contrast-rgb: 255, 255, 255;
    --ion-color-info-shade: #0B79D0;
    --ion-color-info-tint: #64B6F7;
    --ion-color-info-background: #E8F4FE;
    --mui-palette-info-main: #2196F3;
    --mui-palette-info-dark: #0B79D0;
    --mui-palette-info-light: #64B6F7;
    /** dark **/
    --ion-color-dark: #212121;
    --ion-color-dark-rgb: 33, 33, 33;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #121212;
    --ion-color-dark-tint: #424242;
    /** medium **/
    --ion-color-medium: #BDBDBD;
    --ion-color-medium-rgb: 189, 189, 189;
    --ion-color-medium-contrast: #111;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #9E9E9E;
    --ion-color-medium-tint: #E0E0E0;
    /** light **/
    --ion-color-light: #FAFAFA;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #111111;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #F5F5F5;
    --ion-color-light-tint: #FFF;
    /** ag-grid **/
    --ag-material-primary-color: var(--ion-color-primary);
    --ag-selected-row-background-color: var(--ion-color-background) !important;
}

/* Theme dark */

    /** success **/
    /* --ion-color-success: #66BB6A;
    --ion-color-success-rgb: 102, 187, 106;
    --ion-color-success-contrast: #111;
    --ion-color-success-contrast-rgb: 17, 17, 17;
    --ion-color-success-shade: #388E3C;
    --ion-color-success-tint: #81C784;
    --mui-palette-success-main: #66BB6A;
    --mui-palette-success-dark: #388E3C;
    --mui-palette-success-light: #81C784; */
    /** warning **/
    /* --ion-color-warning: #FFA726;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #111111;
    --ion-color-warning-contrast-rgb: 17, 17, 17;
    --ion-color-warning-shade: #F57C00;
    --ion-color-warning-tint: #FFB74D;
    --mui-palette-warning-main: #FFA726;
    --mui-palette-warning-dark: #F57C00;
    --mui-palette-warning-light: #FFB74D; */
    /** danger **/
    /* --ion-color-danger: #F44336;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #111;
    --ion-color-danger-contrast-rgb: 17, 17, 17;
    --ion-color-danger-shade: #D32F2F;
    --ion-color-danger-tint: #E57373;
    --mui-palette-error-main: #F44336;
    --mui-palette-error-dark: #D32F2F;
    --mui-palette-error-light: #E57373; */